body {
	font-family: 'Varela Round', sans-serif;
}

.modal-confirm {		
	color: #636363;
	width: auto;
	height: auto;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 14px;
}
.modal-confirm .header{
	position: relative;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}
.modal-confirm .modal-body {
	color: #999;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;		
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
	color: #999;
}		
.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
	color: #f15e5e;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}
.modal-confirm .btn-secondary {
	background: #c1c1c1;
}
.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
	background: #a8a8a8;
}
.modal-confirm .btn-danger {
	background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #ee3535;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}
.formbold-event-wrapper span {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2.5px;
    color: #6a64f1;
    display: inline-block;
    margin-bottom: 12px;
  }
 
  .formbold-event-wrapper h3 {
	font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2.5px;
    color: #6a64f1;
    display: inline-block;
    margin-bottom: 12px;
    width: 60%;
    margin: 25px 90px 15px;
  }
  .formbold-event-wrapper p {
    font-size: 16px;
    line-height: 24px;
    color: #536387;
  }

  .formbold-event-wrapper img{
	display: inline;
	height: 250px;
	width: 350px;
  }

  .formbold-event-details {
    background: #fafafa;
    border: 1px solid #dde3ec;
    border-radius: 5px;
    margin: 25px 0 30px;
  }
  .formbold-event-details h5 {
    color: #07074d;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    padding: 10px 20px;
  }
  .formbold-event-details ul {
    border-top: 1px solid #edeef2;
    padding: 25px;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 14px;
  }
  .formbold-event-details ul li {
    color: #536387;
    font-size: 16px;
    line-height: 24px;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .formbold-pt-3 {
	padding-top: 12px;
  }
  .formbold-form-label {
	display: flex;
	font-weight: 500;
	font-size: 16px;
	color: #07074d;
	margin-bottom: 12px;
	margin-top: 12px;
  }
  .formbold-form-label-2 {
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 20px;
  }
  
  .formbold-form-input {
	width: 100%;
	padding: 12px 24px;
	border-radius: 6px;
	border: 1px solid #e0e0e0;
	background: white;
	font-weight: 500;
	font-size: 16px;
	color: #6b7280;
	outline: none;
	resize: none;
  }
  .formbold-form-input:focus {
	border-color: #6a64f1;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }
  .formbold-form-file {
	padding: 12px;
	font-size: 14px;
	line-height: 24px;
	color: rgba(83, 99, 135, 0.5);
  }
  .formbold-form-file::-webkit-file-upload-button {
	display: none;
  }
  .formbold-form-file:before {
	content: 'Upload';
	display: inline-block;
	background: #EEEEEE;
	border: 0.5px solid #E7E7E7;
	border-radius: 3px;
	padding: 3px 12px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	color: #637381;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	margin-right: 10px;
  }
  
  
  .formbold-btn {
	text-align: center;
	font-size: 16px;
	border-radius: 6px;
	padding: 14px 32px;
	border: none;
	font-weight: 600;
	background-color: #0B2447;
	color: white;
	width: auto;
	cursor: pointer;
	position: relative;
	margin-left: 20px;
	margin-top: 20px;
  }
  .formbold-btn:hover {
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }
  
  .formbold--mx-3 {
	margin-left: -12px;
	margin-right: -12px;
	
  }
  
  .formbold-px-3 {
	padding-left: 12px;
	padding-right: 12px;
	
  }
  .flex {
	display: flex;
  }
  .flex-wrap {
	flex-wrap: wrap;
  }
  .w-full {
	width: 100%;
  }
  @media (min-width: 540px) {
	.sm\:w-half {
	  width: 50%;
	}
  }
  